<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Sunday Loki/src/com/upskill/Java_Assignments/Java_assignment3_q5.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.upskill.Java_Assignments.Java_assignment3_q5"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Sunday Loki"/>
</launchConfiguration>
